{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <h2>Bienvenido al Panel de Administración del Centro Estético</h2>
    <p>Desde aquí puedes gestionar todos los aspectos de tu centro estético.</p>

    <div class="app-list">
        <div class="app-item">
            <h3>Autenticación y autorización</h3>
            <div class="button-container">
                <a href="{% url 'admin:auth_user_changelist' %}" class="button model-button">
                    <i class="fas fa-users"></i> Usuarios
                </a>
            </div>
        </div>

        <div class="app-item">
            <h3>Citas</h3>
            <div class="button-container">
                <a href="{% url 'admin:citas_ausenciaempleado_changelist' %}" class="button model-button">
                    <i class="fas fa-user-times"></i> Ausencia empleados
                </a>
                <a href="{% url 'admin:citas_cita_changelist' %}" class="button model-button">
                    <i class="fas fa-calendar-check"></i> Citas
                </a>
                <a href="{% url 'admin:citas_cliente_changelist' %}" class="button model-button">
                    <i class="fas fa-user-friends"></i> Clientes
                </a>
                <a href="{% url 'admin:citas_empleado_changelist' %}" class="button model-button">
                    <i class="fas fa-user-tie"></i> Empleados
                </a>
                <a href="{% url 'admin:citas_horariocentro_changelist' %}" class="button model-button">
                    <i class="fas fa-clock"></i> Horario centros
                </a>
                <a href="{% url 'admin:citas_horarioempleado_changelist' %}" class="button model-button">
                    <i class="fas fa-calendar-alt"></i> Horario empleados
                </a>
                <a href="{% url 'admin:citas_servicio_changelist' %}" class="button model-button">
                    <i class="fas fa-concierge-bell"></i> Servicios
                </a>
            </div>
        </div>

        <div class="app-item">
            <h3>Cuentas</h3>
            <div class="button-container">
                <a href="{% url 'admin:account_emailaddress_changelist' %}" class="button model-button">
                    <i class="fas fa-globe"></i> Correos Electronicos
                </a>
            </div>
        </div>

        
    </div>
</div>
{% endblock %}